.pricing-tables {
  padding: 3rem 0 4.5rem;
  box-shadow: 0 5px 127px 0 rgba(0, 0, 0, 0.07);
  transition: background-color 0.4s ease-in-out;
  border-radius: 4px;
}
.grid-wrapper {
  display: -ms-grid;
  display: grid;
}
@media only screen and (max-width: 991px) {
  .pricing-tables {
    margin-bottom: 10rem;
  }
}
.pricing-tables.plans--annually .switch .monthly {
  opacity: 0.35;
}
.pricing-tables.plans--annually .switch .annually {
  opacity: 1;
}

.pricing-tables.plans--annually .plans .plan .plan__head::after {
  opacity: 0.5;
}
.pricing-tables.plans--annually
  .plans
  .plan
  .plan__price
  .price.price--monthly {
  opacity: 0;
  transform: translateY(100px);
}
.pricing-tables.plans--annually
  .plans
  .plan
  .plan__price
  .price.price--annually {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}
.pricing-tables .section__title {
  margin: 0 0 4.2rem 0;
  position: relative;
  font-weight: bold;
  color: var(--primary1);
}
.pricing-tables .section__title::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 15px;
  background: #fa7100;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: -14px;
}
.pricing-tables .switch {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}
.pricing-tables .switch span {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.pricing-tables .switch span.annually {
  opacity: 0.35;
  position: relative;
}
.pricing-tables .switch span.annually .save {
  color: darkslategray;
  font-size: 11px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 21px;
  left: 1px;
}
.pricing-tables .switch .custom-switch {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
}
.pricing-tables .switch .custom-switch input {
  display: none;
}
.pricing-tables .switch .custom-switch input:checked + label:active:after {
  left: 25px;
}
.pricing-tables .switch .custom-switch input:checked + label:after {
  left: 41px;
  background: #fa7100;
}
.pricing-tables .switch .custom-switch label {
  position: relative;
  display: block;
  width: 66px;
  height: 26px;
  border-radius: 50px;
  background: #d3e3f7;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.pricing-tables .switch .custom-switch label::after {
  position: relative;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  top: 3px;
  left: 5px;
  border-radius: 19px;
  background: #fa7100;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}
.pricing-tables .switch .custom-switch label:active:after {
  width: 36px;
}
.pricing-tables .plans {
  min-height: 0;
  margin-top: 3.6rem;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
@media only screen and (max-width: 767px) {
  .pricing-tables .plans {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .pricing-tables .plans {
    grid-template-columns: 1fr 1fr;
  }
  .pricing-tables .plans .plan--starter {
    grid-column: 1 / -1;
    grid-row: 1;
  }
}
@media only screen and (min-width: 992px) {
  .pricing-tables .plans {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.pricing-tables .plans .plan {
  padding: 0 0 1.8rem;
  flex-flow: nowrap column;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  overflow: hidden;
  transition: box-shadow 300ms ease, transform 300ms ease;
}
.pricing-tables .plans .plan .plan__head {
  transition: all 0.4s ease-in-out;
  color: #ffffff;
  padding: 2rem 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.pricing-tables .plans .plan .plan__head .plan__title {
  color: #ffffff;
  margin: 0 0 0.7rem;
}
.pricing-tables .plans .plan .plan__head .plan__price .price {
  font-size: 48px;
  display: inline-block;
  transition: transform 0.4s ease 0s, opacity 0.2s ease 0s;
  position: relative;
}
.pricing-tables .plans .plan .plan__head .plan__price .price .plan__type {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: absolute;
  bottom: -3px;
  left: 0px;
  right: 0;
  margin: 0 auto;
}
.pricing-tables .plans .plan .plan__head .plan__price .price.price--annually {
  transition: transform 0.4s ease 0s, opacity 1s ease 0s;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(100px);
}
.pricing-tables .plans .plan .plan__features {
  padding: 2.4rem 2rem 2.1rem;
}
.pricing-tables .plans .plan .plan__features p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
.pricing-tables .plans .plan .plan__features p span {
  display: block;
  margin-bottom: 0.2rem;
}
.pricing-tables .plans .plan .plan__btn--start {
  margin: auto;
  width: 75%;
}
.pricing-tables .plans .plan:hover {
  box-shadow: 0 10px 11px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
